<!DOCTYPE html>
<html lang="de" ng-app="app">

<head>
    <link rel="stylesheet" href="/public/lib/css/bootstrap.css">
    <link rel="stylesheet" href="/public/lib/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/toaster.css">
    <title>Race</title>
</head>

<body>
<noscript style="color:red;font-size: 2em">Please enable JavaScript, because this site requires it.</noscript>
<toaster-container></toaster-container>

<header class="navbar navbar-inverse navbar-fixed-top" ng-hide="hideNavBar" ng-controller="MenuCtrl">
    <div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Race<sup>&nbsp[alpha]</sup></a>
        </div>
        <nav class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: isActive('/race/home')}"><a href="/race/home">Startseite</a></li>
                <li ng-class="{active: isActive('/race/rules')}"><a href="/race/rules">Regelwerk</a></li>
                <li ng-class="{active: isActive('/race/cards')}" ng-show="auth.user"><a href="/race/cards">Karten</a>
                </li>
                <li ng-class="{active: isActive('/race/decks')}" ng-show="auth.user"><a href="/race/decks">Decks</a>
                </li>
                <li ng-class="{active: isActive('/race/user')}" ng-show="auth.restrictTo('operrator')"><a
                        href="/race/user">Admin User</a></li>
            </ul>
            <p class="navbar-text navbar-right opac-null" ng-show="auth.user">
                <span ng-bind="auth.user.nickname"></span> |&nbsp;<a href="#" ng-click="logout()"
                                                                     class="navbar-link navbar-right">logout</a>
            </p>

            <p class="navbar-text navbar-right" ng-hide="auth.user">
                <a href="" class="navbar-link" data-toggle="modal" data-target="#loginModal">login</a> <!-- &nbsp;|
              <a href="register" class="navbar-link">registrieren</a>-->
            </p>

        </nav>
    </div>
</header>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true"
     ng-controller="LoginCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
            </div>
            <form name="form" class="form-horizontal" novalidate ng-submit="login()">
                <div class="modal-body">
                    <input id="usrname" class="form-control input-block-level" style="margin-bottom: 4px;" type="text"
                           name="nickname" placeholder="Nickname" ng-model="nickname" required>
                    <input class="form-control input-block-level" type="password" name="password" placeholder="Password"
                           ng-model="password" required>

                    <div class="form-group has-error">
                        <span class="help-block" ng-bind="errorMsg"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="reset" ng-click="errorMsg='';reset();" data-dismiss="modal">
                        Cancel
                    </button>
                    <button class="btn btn-primary pull-right" type="submit"
                            ng-disabled="form.$invalid || !form.$dirty">Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<section ng-view class="container"></section>

<script src="/public/lib/jquery-2.1.0.js"></script>
<script src="/public/lib/js/bootstrap.js"></script>
<script src="/public/lib/angular.js"></script>
<script src="/public/lib/angular-resource.js"></script>
<script src="/public/lib/angular-route.js"></script>
<script src="/public/lib/angular-animate.js"></script>
<script src="/public/lib/toaster.js"></script>
<script src="/public/lib/jquery.autosize.js"></script>

<script src="/public/js/app.js"></script>
<script src="/public/js/common.js"></script>
<script src="/public/js/Service/news.js"></script>
<script src="/public/js/Service/user.js"></script>
<script src="/public/js/Service/deck.js"></script>
<script src="/public/js/Service/card.js"></script>
<script src="/public/js/Service/color.js"></script>
<script src="/public/js/Service/typ.js"></script>
<script src="/public/js/Service/edition.js"></script>
<script src="/public/js/Service/authService.js"></script>
<script src="/public/js/Controller/newsCtrl.js"></script>
<script src="/public/js/Controller/cardCtrl.js"></script>
<script src="/public/js/Controller/deckCtrl.js"></script>
<script src="/public/js/Controller/loginCtrl.js"></script>
<script src="/public/js/Controller/menuCtrl.js"></script>


</body>

</html>