body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div.regeln p {
    padding-left: 10px;
    font-size: 0.9em;
}

.container {
    margin-top: 20px;
}

div.links {
    position: fixed;
    top: 70px;
    left: 10px;
    border-radius: 10px;
    min-height: 200px;
    background-color: #808080;
}

div.links ul {
    list-style: none;
}

.hov:hover,
.tabl-body:nth-child(odd):hover {
    background-color: #2aabd2;
}

.hov-click:hover {
    background-color: #2aabd2;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.border {
    border-style: solid;
    border-width: 3px;
    border-color: #cccccc;
    border-radius: 10px;
    padding: 2px;
}

.tabl {
    background-color: #333333;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
}

.tabl-head {
    border-bottom-style: solid;
}

.tabl-body:nth-child(odd) {
    background-color: #000000;
}

.card-rep {
    display: inline-block;
    position: relative;
    border: solid 5px;
    border-radius: 10px;
    width: 61mm;
    height: 86mm;
    color: black;
    font-size: 0.7em;
}

.in-block-no-margin {
    display: inline-block;
    margin: 0px;
}

.card {
    -webkit-print-color-adjust: exact;
    display: inline-block;
    position: absolute;
    border: solid 5px;
    border-radius: 10px;
    width: 61mm;
    height: 86mm;
    color: black;
    font-size: 0.7em;
}

.card .name {
    position: absolute;
    top: 0.5mm;
    left: 2mm;
}

.card .typ {
    position: absolute;
    top: 0.5mm;
    right: 2mm;
}

.card .cost {
    position: absolute;
    top: 28mm;
    left: 2mm;
}

.card .live {
    position: absolute;
    top: 28mm;
    right: 2mm;
}

.card-tool {
    -webkit-print-color-adjust: exact;
    position: absolute;
    top: 1px;
    left: 1px;
    display: inline-block;
    border: solid 2px;
    border-radius: 5px;
    width: 30.5mm;
    height: 43mm;
    font-size: 0.5em;
    color: black;
}

.card-tool .name {
    position: absolute;
    top: 1px;
    left: 1px;
}

.card-tool .typ {
    position: absolute;
    top: 1px;
    right: 1px;
}

.card-tool .werte {
    position: absolute;
    bottom: 1px;
    left: 1px;
}

.card-tool .live {
    position: absolute;
    top: 20mm;
    right: 1px;
}

.card-tool .cost {
    position: absolute;
    top: 20mm;
    left: 1px;
}

.card-tool .txt-abi {
    position: absolute;
    top: 22mm;
    left: 1mm;
    height: 17mm;
    width: 27.5mm;
    margin-right: 2px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: #999999;
}

.card-tool .edition {
    position: absolute;
    bottom: 1px;
    right: 1px;
}

.card-tool .bild {
    position: absolute;
    top: 3mm;
    left: 1mm;
    height: 15mm;
    width: 27.5mm;
    margin-right: 2px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: #999999;
}

.card.b-com {
    border-color: #000;
}

.card.b-uncom {
    border-color: #999999;
}

.card.b-rar {
    border-color: #e38d13;
}

.card.b-epic {
    border-color: #880088;
}

.card-tool.b-com {
    border-color: #000;
}

.card-tool.b-uncom {
    border-color: #999999;
}

.card-tool.b-rar {
    border-color: #e38d13;
}

.card-tool.b-epic {
    border-color: #880088;
}

.card-tool.white-color {
    color: white;
}

div.row div.btn-group.col-md-3 button.btn.btn-default.dropdown-toggle {
    width: 100%;
}

/* ----- Deck anzeige sachen ----- */

.show-deck .name {
    font-size: 1.2em;
}

.show-deck .username {
    font-size: 0.7em;
}

.show-deck .metadata {
    font-size: 0.5em;
}

.show-deck {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    margin: 2px;
}

/*------ Show Card ------ */

.show-card {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    margin: 2px;
}