<div class="col-md-12">
    <div class="jumbotron">
        <div class="row">
            <div class="row" ng-init="newDeck=false">
                <h2>Decks
                    <small><span class="glyphicon glyphicon-plus-sign clickable" ng-click="newDeck = true"
                                 ng-hide="newDeck"></span>
                        <span class="glyphicon glyphicon-minus-sign clickable" ng-click="newDeck = false"
                              ng-show="newDeck"></span></small>
                </h2>

                <span ng-show="newDeck">
                    <span class="col-md-4"><input type="text" ng-model="nDeck.name" class="form-control"
                                                  placeholder="New Deck Name"></span>
                    <span class="glyphicon glyphicon-plus clickable" ng-click="newDeck=false ;createDeck()">
                        ADD
                    </span>
                </span>
            </div>
        </div>

        <div class="row" ng-hide="open">
            <div class="row">
                <span class="col-md-5">  <input type="text" ng-model="search.name" placeholder="Search Deck Name"
                                                class="form-control"></span>
                <span class="col-md-5"> <input type="text" ng-model="search.user" placeholder="Search User Nickname"
                                               class="form-control"></span>
            </div>
            <div class="row">
                <div class="hov-click col-md-3 show-deck" ng-repeat="deck in decks | filter:search:strict"
                     ng-click="openDeck(deck)">
                    <span class="name col-md-12" ng-bind="deck.name"></span>
                    <span class="username col-md-4" ng-bind="deck.user.nickname"></span>
                    <span class="metadata col-md-8">METADATA PLATZ HALTER</span>
                </div>
            </div>
        </div>

        <div class="row" ng-show="open" ng-init="sCards = false">
            <div class="row">
                <h3><span ng-bind="wDeck.name"></span>
                    <small><span class="glyphicon glyphicon-minus-sign clickable" ng-click="open=false">Close</span>
                    </small>
                </h3>
            </div>

            <div class="row" ng-repeat="card in wDeck.cards" ng-init="sCard = getCard(card)">
                <span class="col-md-6" ng-bind="sCard.name"></span>
                <input class="col-md-3" type="number" max="3" min="0" ng-model="card.stk" class="input-sm">
                <span class="glyphicon glyphicon-trash clickable col-md-3"
                      ng-click="removeCard(card, $index)">Remove</span>
            </div>

            <div class="row" ng-show="checkUser(wDeck.use) || auth.restrictTo('admin')">

                <button ng-click="save()" class="btn btn-info">Save</button>
                <div class="btn-group" ng-show="auth.restrictTo('admin')">
                    <button class="btn btn-info" ng-click="printSingle(wDeck)">PrintS</button>
                    <button class="btn btn-info" ng-click="print(wDeck)">PrintM</button>
                </div>
                <span class="glyphicon glyphicon-plus-sign clickable" ng-click="sCards = true">AddCards</span>

            </div>

            <div class="row" ng-show="sCards">
                <input class="form-control input-lg" type="text" ng-model="search.$" placeholder="Search All">
                <button class="btn btn-info" ng-click="sCards = false; finish()">finish</button>

                <div ng-repeat="card in cards |filter:search:strict" ng-click="card.added = !card.added">
                    <span class="col-md-6 hov-click" ng-bind="card.name"></span>
                    <span class="col-md-2" ng-bind="card.typ[0].name"></span>
                    <span class="col-md-2" ng-bind="card.color[0].name"></span>
                    <span class="col-md-2 " ng-init="checkAdded(card)">
                        <span class="glyphicon glyphicon-check" ng-show="card.added"></span>
                        <span class="glyphicon glyphicon-remove" ng-hide="card.added"></span>
                    </span>
                </div>
                <button class="btn btn-info" ng-click="sCards = false; finish()">finish</button>
            </div>

        </div>

    </div>
</div>