<div class="col-md-12">
    <div class="jumbotron" ng-init="showAdd = false">
        <span class="glyphicon glyphicon-plus-sign pull-right" ng-click="showAdd = !showAdd" ng-hide="false"></span>

        <div ng-show="showAdd">
            <span>Header:</span><input type="text" ng-model="newNews.header"/><br/>
            <span>Date:</span><input type="DATE" ng-model="newNews.date"/><br/>
            <span>News:</span><textarea ng-model="newNews.message"></textarea><br/>
            <button ng-click="submit()">Anlegen</button>
        </div>
        <h1>Race News Page</h1>

        <div ng-repeat="news in newsAll">
            <div>
                <h2 ng-init="header = true">
                    <span ng-bind="news.header" ng-show="header" ng-click="header = !header"></span>
                    <input type="text" ng-model="news.header" ng-hide="header" ng-blur="header = !header; update(news)">

                    <small ng-init="date = true">
                        <span ng-bind="news.date | date:'dd-MM-yyyy'" ng-click="date= !date" ng-show="date"></span>
                        <input type="date" ng-model="news.date" ng-blur="date = !date;update(news)" ng-hide="date">
                        <span class="glyphicon glyphicon-trash" ng-click="remove(news)"></span>

                    </small>
                </h2>
                <span ng-init="message = true">
                <p ng-bind="news.message" ng-show="message" ng-click="message = !message"></p>
                <textarea ng-model="news.message" ng-hide="message"
                          ng-blur="message = !message; update(news)"></textarea>
                </span>
            </div>
        </div>

    </div>
</div>