<div class="col-md-12">
    <div class="jumbotron" ng-init="showAdd = false">
        <span class="glyphicon glyphicon-plus-sign pull-right" ng-click="showAdd = !showAdd"
              ng-show="auth.restrictTo('admin')"></span>

        <div ng-show="getBool(showAdd,auth.restrictTo('admin'))">
            <span>Header:</span><input type="text" class="form-control" ng-model="newNews.header"/>
            <span>Date:</span>

            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt"
                               is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
                    </p>
                </div>
            </div>
            <span>News:</span><textarea class="form-control" ng-model="newNews.message"></textarea>
            <button ng-click="submit()">Anlegen</button>
        </div>
        <h1>Race News Page</h1>

        <div ng-repeat="news in newsAll">
            <div>
                <h2 ng-init="header = false">
                    <span ng-bind="news.header" ng-hide="header"
                          ng-click="header = getBool(!header,auth.restrictTo('admin'))"></span>
                    <input class="form-control" type="text" ng-model="news.header" ng-show="header"
                           ng-blur="header = !header; update(news)">

                    <small ng-init="date = false">
                        <span ng-bind="news.date | date:'dd-MM-yyyy'"
                              ng-click="date= getBool(!date,auth.restrictTo('admin'))" ng-hide="date"></span>
                        <input class="form-control" type="date" ng-model="news.date" ng-blur="date = !date;update(news)"
                               ng-show="date">
                        <span class="glyphicon glyphicon-trash" ng-click="remove(news)"
                              ng-show="auth.restrictTo('admin')"></span>

                    </small>
                </h2>
                <span ng-init="message = false">
                <p ng-bind="news.message" ng-hide="message"
                   ng-click="message = getBool(!message,auth.restrictTo('admin'))"></p>
                <textarea class="form-control" ng-model="news.message" ng-show="message"
                          ng-blur="message = !message; update(news)"></textarea>
                </span>
            </div>
        </div>

    </div>
</div>