<div class="col-md-2 links">
    <ul>
        <li><a href="#1">Einleitung</a></li>
        <li><a href="#2">Aufbau Spielfeld</a></li>
        <li><a href="#3">Ablauf Spiel</a></li>
        <li><a href="#4">Ziel des Spieles</a></li>
        <li><a href="#5">Wirken von Zaubern</a></li>
        <li><a href="#6">Das Stapelsystem</a></li>
    </ul>
</div>
<div class="col-md-push-2 col-md-10">
<div class="jumbotron">
<div class="regeln">

<h1>Regeln</h1>

<h2><a name="1">Einleitung</a></h2>

<p>Race the Challange ist ein fantasie Runden basierendes Sammel Kartenspiel. Man spielt es meistens zu
    zweit und besteht aus den nun folgenden elementen und Regeln</p>

<h2><a name="2">Aufbau Spielfeld</a></h2>

<p>Das Spielfeld besteht aus 4 Großen Sektionen die sich wieder in 3 Kleinere Sektionen unterteilen</p>

<h3>Sektion 1(Hauptspiel elemente)</h3>

<p>Dieser Bereich besteht aus 5 unter Sektionen und zwar dem Deck, der Ablage, die Essenz Ablage, die
    Weltzauber ablage und dem bereich für spiele infos.</p>

<h3>Sektion 2(Rassen Bereich)</h3>

<p>Hier werden alle Rassen hingelegt die in einem Spiel gespielt werden. Er besteht aus 5 Unter Sektionen
    und es können nicht mehr als 5 Rassen dort liegen pro spielzug.</p>

<h3>Sektion 3(Truppen Bereich)</h3>

<p>Hier werden alle Truppen hingelget die in einem Spiel gespielt werden. Er Besteht aus 5 Unter Sektionen
    und in einer Sektion könne beliebig viele Truppen liegen pro spielzug. Jede sektion steht in Verbindung
    mit einer Sektion des Rassen Bereichs.</p>

<h3>Sektion 4(Fahrzeug Bereich)</h3>

<p>Hier werden alle Fahrzeuge hingelegt die in einem Spiel gespielt werden. Dieser Bereich besitzt keine
    unter Sektionen und es können beliebig viel Fahrzeuge in dieser Sektion liegen pro Spielzug.</p>


<h2><a name="3">Ablauf Spiel</a></h2>

<h3>Vorbereitung</h3>

<p>Das Spiel beginnt mit der Auswahl der Decks, jeder spieler wählt ein Deck, und dann 5 Rasse karten
    seiner wahl wo bei eine der Karten eine Startkarte sein muss. Jeder Spieler Mischt sein Deck und
    legt es am besten auf den dafür vorgesehen platz, dann werden die Rasse Karten verdeckt auf die fünf
    Rasse karten plätze gelegt, welche rasse auf welchen platz kommt bestimmt immer der Spieler selbst,
    dann wird die Start Rasse, aufgedeckt, auf den vorhergesehen platz gelegt, nun machen die spieler
    unter sich aus wer starten darf und jeder spieler kommt dann im uhrzeigersinn drann, außer es wurde
    sich etwas anderes vorher ausgemacht.</p>

<h3>Eine Runde</h3>

<p>Eine Runde jedes Spielers Besteht aus mehreren teil spiel zügen es gibt 6 Spiel züge.</p>
<h4>Teil eins Vorbereitung:</h4>

<p>Mit dieser spielzug beginnt jede Runde, Zuerste werden alle Truppen aus den Fahrzugen genommen, dann
    die Essenzvoräte wieder aufgefrischt, auf ihren maximal anzahl. Dann werden Fähigkeiten gespielt die
    aussagen am anfang jeder runde oder am anfang deiner/des gengers Runde ect. Wenn das alles getan ist
    kommt der Nächste Spielzug.</p>
<h4>Hauptphase1:</h4>

<p>In dieser Phase können alle Karten von der Hand gespielt und/oder Rassen aufgedeckt werden. Diese
    Phase kann aber auch übersprungen werden.</p>
<h4>Kampfphase:</h4>

<p>Nach der Hauptphase1 kann man in eine Kampfphase gehen oder man kann sie überspringen wenn man nicht
    angreifen will. Wenn man einen Angriff startet Decklariert man zu erst welche Truppen in welches
    Fahrzeuge kommen(Ein Fahrzeug mit einer Truppe nennt man Einheit). Dann Besimmt man mit welche
    Einheit, man welche gegnerische Rasse angreift. Nun hat der genger einen Zug in dem er bestimmen
    kann welche von deinen Einheiten durch seine Einheiten geblockt werden und welche nicht. Danach wird
    der schaden verteilt.</p>
<h4>Hauptphase2:</h4>

<p>Ist wie die Hauptphase1 nur das sie nach einem Kampf kommt und man nach ihr nicht n+ochmal angreifen
    kann.</p>
<h4>Schlussphase:</h4>

<p>Nach dem ein Spieler gesagt hat das er seine Runde nun beendet kommt die Schlussphase in der alle
    Fähigkeiten gespielt werden die aus sagen am "Ende der Runde" außerdem kann nun der Gegnerische
    spieler falls er noch genug Essenzen hat Fähikeiten und Zauber spielen. Danach Beginnt die Runde vom
    Nächsten Spieler.</p>
<h4>Essenzenphase:</h4>

<p>Diese Phase kann Jederzeit zwischen der Vorbereitungsphase und der Schlusspahse, aber immer nur
    einmal pro Runde, gespielt werden . In dieser Phase hat der Spieler 3 Möglichkeiten zur auswahl
    Essenzvorragt erhöhen, Essenzvorrat ausgleichen, Essenzvorrat verringern. Bei der Ersten Möglichkeit
    kann man eine Karte aus seiner Hand in den Essenzvorrat legen und bekommt so eine Essenz für diese
    Runde und der Maximal vorrat steigt um eins an. Bei der Zweiten möglichkeit kann man eine Karte aus
    seiner Hand mit einer Karte aus dem Essenzvorrat austauschen es ändert nichts an der Anzahl der
    Essenzen die man gerade hat oder an den Maximal vorrat den man bekommt. Bei der Dritten Möglichkeit
    kann man eine Karte aus dem Essenzvorrat wieder auf die Hand nehmen was zwar nichts daran ändert wie
    viele Essenzen man gerade hat aber den Maximal vorrat für die nächste runde reuziert. Diese Phase
    kan genau nur einmal gespielt werden pro runde und es kann nur genau eine Möglickeit von den drein
    gespielt werden und auch genau nur einmal.</p>


<h2><a name="4">Ziel des Spieles</a></h2>

<p>Das Ziel des Spieles ist es die Gegnerischen Rassen zu zerstören entweder durch den schaden der
    angreifenten Eiheiten und das leben der Rassen auf 0 zu bringen oder durch Zauber oder Fähigkeiten
    die Schaden verursachen oder Direkt einer Rasse Zerstören oder aus dem Spiel verbannen. Hat der
    Gegner Keine Aufgedeckten Rassen mehr im Spiel, hat er das spiel verloren selbst wenn er noch Rassen
    besitzt die verdeckt sind. Gewonnen hat der Spieler der am Schluss noch Rassen übrig hat.</p>


<h2><a name="5">Wirken von Zaubern</a></h2>

<p>Das Wirken von Zaubern passiert in drei Phasen die Deklerationsphase, Stapelphase und in der Wirkphase</p>

<h3>Deklerationsphase</h3>

<p>In dieser Phase zeigt man den Zauber vor den man Spielen will(Rasse, Zauber, Weltzauber, etc.) nach dem
    vorzeigen kann nun der Gegnerischespieler nur Neutralisationszauber wirken sodas dieser Zauber keinen Stapel
    (stapel system wird in Nächsten abschnitt erklärt) öffnet und gleich aufgelöst wird. </p>

<h3>Stapelphase</h3>

<p>Wenn ein zauber nicht in der Deklerationsphase neutralisiert wurde geht es nun auch nicht mehr denn der
    Zauber liegt nun schon auf einen Stapel bzw eröffenet einen Neuen. Statdessen kann jetzt auf den Stapel hinauf
    gespielt werden.</p>

<h3>Wirkphase</h3>

<p>Nach dem die Spieler keine weiteren zauber spielen wollen kommt die Wirkphase zum Tragen in dem die zauber
    nach dem Stapelsystem ausgeführt werden</p>

<h2><a name="6">Das Stapelsystem</a></h2>

<p>Jede gespielte Karte öffnet einen neuen Spielstapel, außer sie wurde auf einen Stapel hinauf gelegt, es können
    beliebig viele Stapel eröffnet werden parallel und es können beliebig viel karten auf einen Stapel hinauf gespielt
    werden, sobald alle spieler mit dem Deklarieren fertig sind kommt die Wirkphase zuerst wählt der Spieler der den
    letzten Zauber gewirkt hat in welcher reihenfolge welcher stapel gewirkt wird, dann werden alle Zauber </p>

<h2>Weitere Informationen</h2>

<h3>Deck:</h3>

<p>Ein jedes spielbares Deck besteht aus zwei Teilen, erstens das Spieldeck und zweitens das Rassendeck
    die von einander getrennt gehalten werden.</p>

<h3>SpielDeck:</h3>

<p>Dieses Deck besteht aus mindestens 40 Karten wobei jede spezielle Karte maximal 3 mal vorkommen darf
    in diesem Deck dürfen keine Rasse Karten vorkommen, Tunier Decks werden auf genau 40 Karten
    Beschränkt. Man kann sich auch mit seinen Gegenspieler andere Regeln ausmachen für ein Deck.</p>

<h3>RassenDeck:</h3>

<p>Diese Deck besteht aus mindestens 10 Karten von dem Typ Rasse jede Rassekarte darf genau 1 mal
    vorkomme in dem Deck und jedes Deck muss mindesten eine Starter Rasse besitzen also eine Rasse die
    am Start gespielt wird, es dürfen nur Rassekarten in diesem Deck sein. Ein Tunier Rassedeck darf nur
    genau 10 Karten Besitzen.</p>

<h3>Friedhof oder Ablagestapel</h3>

<p>Wenn eine Karte im spiel Zerstört wird oder ein Andere Effeckt dazu führt das sie aus dem spiel geht
    dann werden diese Karten auf den Friedhof gelegt, dort verweilen die Karten bis das spiel zu ende
    ist oder eine anderer Effect sie wieder ins spiel bringt. Rasse karten die aus dem spiel gehen
    werden verdeckt ganz untem auf den Stapel gelegt damit man erkenn das es Rassen sind. Karten die
    Ganz aus dem Spiel entfernt werden werden irgendwo auf den Rand des Spielfeldes gelegt um sie nicht
    mit irgendwelchen effekten wieder zu holen.</p>

<h3>Essenzablage</h3>

<p>In der Essenzablage liegen alle Karten die als Essenzproduzenten abgelegt worden sind, alle
    verdeckten karten prouzieren Essenzen der Farbe der Startrasse, mit jeder aufgedeckten Karte
    produziert die Essenzablage dann zu der Farbe der Startrasse auch die Farbe der aufgedeckten Karte,
    hat man nun 5 karten in der Essenzablage, die Startrasse ist Blau und eine Karte in der Ablage ist
    aufgedeckt und Rot so kann man nun entscheiden wieviele Essenzen man in jeder Runde von der Farbe
    Rot oder Blau brauch die Maximal anzahl ist aber 5 das heist man kann 2 Rote und drei Blaue oder nur
    5 Blaue oder 5 Rote machen.</p>

<h3>Weltkarten ablage</h3>

<p>Dieser Platz ist für Weltkarten reserviert hier werden alle Weltkarrten hingelegt die gespielt sind
    und aktiv, wenn eine zerstört wird lege sie in Ablagestapel.</p>

<h2>Spiele Infos:</h2>

<h3>Rasse:</h3>

<h3>Trupp:</h3>

<h3>Fahrzeug:</h3>

<h3>Blocker:</h3>

<h3>Einheit:</h3>

<h3>Zauber:</h3>

<h3>Weltkarte:</h3>

<h3>Schadensverteilung:</h3>

<h2>Karten Kegeln</h2>

<h3>Aktivierte fähikeiten</h3>

<p>Sind Fähigkeiten die durch Kosten die zu zahlen sind getriggert werden.</p>

<h3>Passive fähigkeiten</h3>

<p>Sind ab den ausspielen Aktiv.</p>

<h4>Schnell</h4>

<p>Ist eine Fähigkeit die nur bei Fahrzeugen vorkommt. Fahrzeuge mit Schnell können in der Runde schon
    eine Einheit bilden in der Sie aufs Spielfeld kommen, und auch schon angreifen.</p>

<h4>Wissen</h4>

<p>Karten mit Wissen beeinflussen den Essezpool, wenn eine Karte mit wissen Aufgedeckt in den Essenzpool
    gelegt wird, wird sie statt einer Essenz nun 2 Produzieren</p>


<h4>Untot</h4>

<p>Karten mit der Fähikeit Untot werden nach dem sie Zerstört worden sind nicht so wie gehabt auf den
    Ablagestapel gelegt sondern Kommen in den Essenzpool.</p>

<h4>Groß</h4>

<p>Können nur Fahrzeuge haben. Fahrzeuge mit der Fähigkeit Groß können beim Eineiten bilden bis zu Zwei
    Truppen aufnehmen und die werte von allen dreien werden zusammen gezählt.</p>

<h4>Absprung</h4>

<p>Können nur Fahrzeuge haben. Wenn eine Einheit stirbt und dessen Fahrzeug hat die fähigkeit Absprung
    dann Stirbt nicht die Ganze Einheit so wie sonst sondern nur das Fahrzeug.</p>


</div>


</div>
</div>